@mixin text-background-clip(
  $where,
  $primaryColor,
  $secondaryColor,
  $opacity: 1
) {
  background-image: linear-gradient(
    $where,
    rgba($primaryColor, $opacity),
    rgba($secondaryColor, $opacity)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin button-style {
  border: none;
  border-radius: 50rem;
  font-size: var(--default-font-size);
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
  background-image: linear-gradient(
    to right bottom,
    #f7590f,
    #f86117,
    #f8691e,
    #f97125,
    #f9782c,
    #f97d32,
    #f98237,
    #f9873d,
    #f98b42,
    #fa9048,
    #fa944d,
    #fa9853
  );
  color: var(--white);
  box-shadow: 0 4px 17px 0 var(--primary-color);
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0 0 0 #f7590f;
  }
  &:active,
  &:focus {
    transform: translateY(-0.1rem);
  }
}
