:root {
  --bg-color: #f2f2f2;
  --primary-color: #f7590f;
  --secondary-color-1: #f98135;
  --secondary-color-2: #f19853;

  --green-light: #95d5b2;
  --black: #000;
  --white: #fff;
  --white-light: #f2f2f2;
  --grey-light: #ccd6f6;
  --grey-dark: #8892af;

  --linkedin-color: #0e76a8;
  --whatsapp-color: #47c657;
  --github-color: #000;
  --instagram-color: #f14843;

  --logo-size: 5rem;
  --default-font-size: 1.6rem;
  --xlg-font-size: 10rem;
  --lg-font-size: 7rem;
  --md-font-size: 3.8rem;
  --sm-font-size: 1.4rem;
  --xs-font-size: 1.2rem;
}
