@import '../../index.scss';
.about-section {
  display: flex;
  flex-direction: column;
  .what-is-my-name {
    color: $primary-color;
    font-size: $md-font-size;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Eczar', serif;
  }
  .intro {
    margin-top: 1.5rem;
    .name,
    .work-info {
      letter-spacing: 1px;
      font-size: $lg-font-size;
      font-family: 'Eczar', serif;
      font-weight: bold;
    }
    .name {
      color: $grey-light;
    }
    .work-info {
      margin-top: 1.2rem;
      color: $grey-dark;
      // @include text-background-clip(to right top, #aa076b, #61045f);
    }
    .web {
      font-family: inherit;
      @include text-background-clip(to right top, #1488cc, #2b32b2);
    }
  }
  .tagline {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    line-height: 2rem;
    width: 70%;
    letter-spacing: 1px;
    color: $grey-dark;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    // @include text-background-clip(to right top, #159957, #155799);
  }
}
.contact-me {
  margin-top: 4rem;
  .btn {
    width: 20rem;
    padding: 1rem;
    border: 1px solid $primary-color;
    border-radius: 5px;
    font-size: $default-font-size;
    background: $bg-color;
    color: $primary-color;
    transition: transform 0.3s;
    &:hover {
      background-color: rgba($primary-color, 0.1);
      transform: translateY(-0.3rem);
    }
    &:active,
    &:focus {
      transform: translateY(-0.1rem);
    }
  }
}
