@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
@import '../../abstracts/mixin';
.home {
  // background: radial-gradient(farthest-side at 50% 60%, #733236, transparent);
  .what-is-my-name {
    color: var(--primary-color);
    font-size: var(--sm-font-size);
    font-weight: 300;
    letter-spacing: 2px;
    // font-family: 'Eczar', serif;
  }
  .intro {
    margin-top: 1.5rem;
    .name,
    .work-info {
      letter-spacing: 1px;
      font-size: var(--lg-font-size);
      font-family: 'Eczar', serif;
      font-weight: bold;
    }
    .name {
      color: var(--grey-light);
    }
    .work-info {
      margin-top: 1.2rem;
      color: var(--grey-dark);
      // @include text-background-clip(to right top, #aa076b, #61045f);
    }
    .web {
      font-family: inherit;
      @include text-background-clip(to right top, #1488cc, #2b32b2);
    }
  }
  .tagline {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    line-height: 2rem;
    width: 70%;
    letter-spacing: 1px;
    color: var(--grey-light);
    text-align: justify;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    // @include text-background-clip(to right top, #159957, #155799);
  }
}
.contact-me {
  margin-top: 4rem;
  @include btn(var(--primary-color), var(--bg-color));
}
