@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
@import '../../abstracts/mixin';

.about {
  // background: radial-gradient(farthest-side at 50% 50%, #f19853, transparent);
  margin: 20vh 0 10vh 0;
  @include media-breakpoint-down(lg) {
    margin: 14vh 0;
  }
  @include media-breakpoint-down(sm) {
    margin: 12vh 0;
  }
  &-header {
    color: var(--primary-color);
    text-shadow: 1px 1px 3px var(--secondary-color-1);
    font-size: var(--md-font-size);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 65%;
    &:after {
      flex-grow: 1;
      flex-shrink: 1;
      display: inline-block;
      content: '';
      height: 1px;
      margin-left: 2rem;
      background-color: var(--primary-color);
    }
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
  &-body {
    margin-top: 2.5rem;
    display: flex;
    gap: 5rem;
    padding: 0 7rem 0 1rem;
    .info {
      font-size: var(--default-font-size);
      font-weight: 300;
      line-height: 2rem;
      letter-spacing: 1px;
      text-align: justify;
      color: var(--black);
      // background: radial-gradient(
      //   farthest-side at 50% 50%,
      //   #733236,
      //   transparent
      // );
      a {
        color: var(--primary-color);
        text-decoration: none;
        font-weight: 500;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      .known-technologies {
        .sub-heading {
          font-weight: 400;
          margin-top: 1.6rem;
        }
        .skills {
          display: flex;
          margin-top: 1.6rem;
          flex-wrap: wrap;
          span {
            min-width: 50%;
            margin-bottom: 1rem;
            font-weight: 700;
            font-size: var(--default-font-size);
            display: flex;
            align-items: center;
            transition: all 0.3s;
            svg {
              font-size: 24px;
              padding: 0.5rem;
            }
            &::before {
              display: inline-block;
              content: '';
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right: 6px solid transparent;
            }
            &:hover {
              transform: translateY(-0.3rem);
            }
          }
          .javascript {
            @include text-background-clip(
              background-image,
              linear-gradient(to right, #f0db4f, #323330)
            );
            color: #f0db4f;
            &::before {
              border-left: 6px solid #f0db4f;
            }
          }
          .angular {
            color: #c3012f;
            &::before {
              border-left: 6px solid #c3012f;
            }
          }
          .sass {
            color: #c66593;
            &::before {
              border-left: 6px solid #c66593;
            }
          }
          .react {
            color: #5fd6f7;
            &::before {
              border-left: 6px solid #5fd6f7;
            }
          }
          .html {
            color: #dc4a25;
            &::before {
              border-left: 6px solid #dc4a25;
            }
          }
          .figma {
            color: #e627ca;
            &::before {
              border-left: 6px solid #e627ca;
            }
          }
        }
      }
    }
    .profile-container {
      min-width: 25rem;
      width: 25rem;
      height: 30rem;
      position: relative;
      transition: all 0.6s;
      // transform: rotate(45deg);
      .card {
        position: absolute;
        width: 100%;
        height: 100%;
        // border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
        cursor: pointer;
        transition: 0.5s;
        .card-image {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          z-index: 2;
          background-color: #000;
          transition: 0.5s;
          img {
            width: 25rem;
            height: 30rem;
            object-fit: cover;
          }
        }
        .social-icons {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 3;
          display: flex;
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            a {
              position: relative;
              display: flex;
              width: 40px;
              height: 40px;
              border-radius: 6px;
              line-height: 50px;
              text-align: center;
              background: var(--white-light);
              font-size: 28px;
              color: #333;
              margin: 0 6px;
              transition: 0.4s;
              transform: translateY(200px);
              opacity: 0;
              svg {
                margin: auto;
                transition: 0.8s;
                &:hover {
                  transform: rotateY(360deg);
                  // backface-visibility: hidden;
                }
              }
            }
            &:hover {
              transition: 0.2s;
              .linkedin {
                color: var(--linkedin-color);
              }
              .whatsapp {
                color: var(--whatsapp-color);
              }
              .github {
                color: var(--github-color);
              }
              .instagram {
                color: var(--instagram-color);
              }
            }
            &:nth-child(1) a {
              transition-delay: 0.1s;
            }
            &:nth-child(2) a {
              transition-delay: 0.2s;
            }
            &:nth-child(3) a {
              transition-delay: 0.3s;
            }
            &:nth-child(4) a {
              transition-delay: 0.4s;
            }
          }
        }
        .details {
          position: absolute;
          bottom: 0;
          left: 0;
          background: var(--white-light);
          width: 100%;
          height: 70px;
          z-index: 1;
          padding: 10px;
          display: flex;
          flex-direction: column;
          h2,
          p {
            margin: auto;
          }
          h2 {
            font-size: 1.8rem;
            color: var(--primary-color);
            text-shadow: 0px 0px 1px var(--secondary-color-1);
          }
          p {
            font-size: 1.4rem;
            color: var(--black);
            text-shadow: 0px 0px 1px var(--black);
          }
        }
        &:hover {
          .card-image {
            transform: translateY(-70px);
            transition: all 0.9s;
            img {
              opacity: 0.4;
              transition: 0.5s;
            }
          }
          .social-icons li a {
            transform: translateY(0px);
            opacity: 1;
          }
        }
      }
      &:hover {
        transform: rotate(0deg);
      }
    }
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      padding: 0;
    }
  }
}
