@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
.experience {
  margin: 8rem 0 15rem 0;

  color: aliceblue;
  &-header {
    color: var(--grey-light);
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
    flex-shrink: 2;
    margin: 0;
    width: 65%;
    &:after {
      flex-grow: 1;
      flex-shrink: 1;
      display: inline-block;
      content: '';
      height: 1px;
      margin-left: 2rem;
      background-color: var(--grey-dark);
    }
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
  &-body {
    margin-top: 2.5rem;
    display: flex;
    flex-grow: 1;
    // height: 224px;
    padding: 0 8rem 0 1rem;
    .tab-heading-container {
      min-width: fit-content;
      .tab-header {
        align-items: flex-start;
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--primary-color);
      }
      button {
        padding: 0;
      }
    }
    .tab-body {
      padding: 1.4rem 0 0 2rem;
      text-align: justify;
      p {
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 2rem;
        letter-spacing: 1px;
      }
    }
  }
}
