@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
.experience {
  &-header {
    color: var(--grey-light);
    font-size: var(--md-font-size);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 65%;
    &:after {
      display: inline-block;
      content: '';
      height: 1px;
      margin-left: 2rem;
      background-color: var(--grey-dark);
    }
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
  &-body {
    margin-top: 2.5rem;
    display: flex;
    padding: 0 8rem 0 1rem;
    color: var(--grey-light);
    .tab-heading-container {
      min-width: fit-content;
      .tab-header {
        font-family: inherit;
        font-size: var(--sm-font-size);
        font-weight: 400;
        color: var(--primary-color);
        gap: 2rem;
      }
    }
    .tab-body {
      padding: 1.4rem 0 0 2rem;
      text-align: justify;
      font-family: inherit;
      font-size: var(--sm-font-size);
      font-weight: 300;
      line-height: 2rem;
      letter-spacing: 1px;
      height: 70vh;
      overflow: auto;
      .role {
        &:not(:last-child) {
          margin-bottom: 3rem;
        }
        .designation {
          font-size: 2.3rem;
          font-weight: 600;
          margin-bottom: 1rem;
          .org {
            color: var(--primary-color);
          }
        }
        .serve-year {
          display: inline-block;
          margin-bottom: 2rem;
          font-style: italic;
        }
        .works {
          font-size: var(--default-font-size);
          p {
            display: flex;
            align-items: center;
            text-align: justify;
          }
          p::before {
            display: inline-block;
            content: '';
            margin: 0 1rem;
            width: 0;
            height: 0;
            border-left: 0.7rem solid var(--primary-color);
            border-top: 0.7rem solid transparent;
            border-right: 0.7rem solid transparent;
            border-bottom: 0.7rem solid transparent;
          }
        }
      }
      &::-webkit-scrollbar {
        width: 0.3rem;
      }
      &::-webkit-scrollbar-track {
        background-color: var(--grey-dark);
        -webkit-box-shadow: none;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--primary-color);
      }
    }
  }
  &-body-sm {
    flex-direction: column;
    padding: 0;
    .tab-body {
      padding: 2rem 0;
    }
  }
}
