@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
.experience {
  //   margin: 8rem 0 15rem 0;
  color: aliceblue;
  &-header {
    color: var(--grey-light);
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
    flex-shrink: 2;
    margin: 0;
    width: 80%;
    &:after {
      flex-grow: 1;
      flex-shrink: 1;
      display: inline-block;
      content: '';
      height: 1px;
      margin-left: 2rem;
      background-color: var(--grey-dark);
    }
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
  &-body {
    margin-top: 4rem;
    // color: var(--grey-dark);
  }
}
