@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
@import '../../abstracts/mixin';

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.4s;
  background-color: var(--bg-color);
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    min-height: 7vh;
    .logo {
      img {
        height: 6rem;
      }
      font-size: var(--logo-size);
    }
    .nav-links {
      display: flex;
      align-items: center;
      min-width: 40%;
      margin: 0;
      padding: 0;
      transition: all 0.5s ease-in-out;
      li {
        list-style: none;
        a {
          text-decoration: none;
          font-size: var(--default-font-size);
          font-weight: 700;
          padding: 0.5rem 1rem;
          color: var(--black);
          transition: all 0.2s;
          position: relative;
          &:hover {
            color: var(--primary-color);
            transform: translateY(-0.3rem);
          }
        }
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
      .active {
        a {
          color: var(--primary-color);
        }
      }
      .resume {
        width: 18rem;
        text-align: center;
        @include button-style;
        a {
          outline: none;
          font-weight: 600;
          color: var(--white);
          padding: 1rem;
          &:hover {
            color: var(--white);
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
      @include media-breakpoint-down(md) {
        min-width: 60%;
      }
      @include media-breakpoint-down(sm) {
        position: absolute;
        right: 0;
        height: 90vh;
        top: 7vh;
        background-color: var(--bg-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        transform: translateX(100%);
        li {
          opacity: 0;
        }
      }
    }
    .burger {
      display: none;
      span {
        display: flex;
        width: 3rem;
        height: 1px;
        margin: 8px;
        background-color: var(--primary-color);
      }
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
  }
  .mobile-nav-bar {
    @include media-breakpoint-down(sm) {
      .nav-links {
        transform: translateX(0%);
        li {
          opacity: 1;
          margin-right: 0 !important;
        }
      }
      .burger {
        .line-1 {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        .line-2 {
          opacity: 0;
        }
        .line-3 {
          transform: rotate(45deg) translate(-6px, -8px);
        }
      }
    }
  }
}
.hide {
  transform: translateY(-10vh);
}
.shadow {
  @include media-breakpoint-up(sm) {
    box-shadow: 2px 2px 6px rgba($color: #000000, $alpha: 0.1);
  }
}
