@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.4s;
  background: var(--bg-color);
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    min-height: 7vh;
    .logo {
      font-size: var(--logo-size);
      // color: var(--primary-color);
      background: linear-gradient(
        90deg,
        var(--secondary-color-2) 0,
        var(--secondary-color-1)
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      // font-family: inherit;
      // font-family: 'Eczar', serif;
      // padding: 0px 10px;
      // border: 2px solid var(--primary-color);
      // margin-top: 10px;
    }
    .nav-links {
      display: flex;
      align-items: center;
      min-width: 40%;
      margin: 0;
      padding: 0;
      transition: transform 0.5s ease-in-out;
      li {
        list-style: none;
        a {
          text-decoration: none;
          font-size: var(--default-font-size);
          font-weight: 700;
          padding: 0.5rem 1rem;
          color: #ccd6f6;
          border: 3px solid transparent;
          transition: all 0.2s;
          position: relative;
          &:hover {
            color: var(--primary-color);
            // background-color: rgba(#3f3e3e, 0.3);
            // border-radius: 5px;
            // @include text-background-clip(to right top, #c21500, #ffc500);
            // @include text-background-clip(to right top, #aa076b, #61045f);
            // border-image: linear-gradient(#aa076b, #61045f) 0 0 1 0;
          }
          &:active {
            color: red;
          }
        }
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
      .active {
        background-color: red;
        a {
          color: var(--primary-color);
        }
      }
      @include media-breakpoint-down(md) {
        min-width: 60%;
      }
      @include media-breakpoint-down(sm) {
        position: absolute;
        right: 0;
        height: 90vh;
        top: 7vh;
        background-color: var(--bg-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        transform: translateX(100%);
        li {
          opacity: 0;
        }
      }
    }
    .burger {
      display: none;
      span {
        display: flex;
        width: 3rem;
        height: 1px;
        margin: 8px;
        background-color: var(--white);
      }
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
  }
  .mobile-nav-bar {
    @include media-breakpoint-down(sm) {
      .nav-links {
        transform: translateX(0%);
        li {
          opacity: 1;
          margin-right: 0 !important;
        }
      }
      .burger {
        .line-1 {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        .line-2 {
          opacity: 0;
        }
        .line-3 {
          transform: rotate(45deg) translate(-6px, -8px);
        }
      }
    }
  }
}
.hide {
  // display: none;
  transform: translateY(-10vh);
}
.shadow {
  box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 1);
}
