@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
.main {
  background-color: var(--bg-color);
  padding: 10rem 18rem;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-down(lg) {
    padding: 10rem 10rem;
  }
  @include media-breakpoint-down(md) {
    padding: 10rem 10rem;
  }
  @include media-breakpoint-down(sm) {
    padding: 5rem 2rem;
  }
}
