@import './index.scss';
.main {
  background-color: $bg-color;
  padding: 10rem 18rem;
  margin-top: 7vh;
  // margin-top: calc(100vh - 93vh);
  height: 93vh;
  @include media-breakpoint-down(lg) {
    padding: 10rem 10rem;
  }
  @include media-breakpoint-down(md) {
    padding: 10rem 10rem;
  }
  @include media-breakpoint-down(sm) {
    padding: 5rem 2rem;
  }
}
