.footer {
  padding: 6rem;
  background-color: var(--bg-color);
  display: flex;
  .build-tag {
    margin: auto;
    color: var(--primary-color);
    font-size: var(--default-font-size);
    font-weight: 500;
  }
}
