@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
.social-icons {
  position: fixed;
  bottom: 0;
  left: 2rem;
  right: auto;
  width: 4rem;
  z-index: 10;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      padding: 5px;
      &:last-of-type {
        margin-bottom: 2rem;
      }
      a {
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: var(--transition);
        font-size: 28px;
        color: var(--grey-dark);
        transition: transform 0.3s;
        &:hover {
          transform: translateY(-0.3rem);
        }
      }
      .linkedin:hover {
        color: var(--linkedin-color);
      }
      .whatsapp:hover {
        color: var(--whatsapp-color);
      }
      .github:hover {
        color: var(--github-color);
      }
      .instagram:hover {
        color: var(--instagram-color);
      }
    }
    &:after {
      display: block;
      content: '';
      width: 1px;
      height: 9rem;
      margin: 0px auto;
      background-color: var(--grey-dark);
    }
  }
}
.email {
  position: fixed;
  bottom: 0;
  left: auto;
  right: 2rem;
  z-index: 10;
  color: var(--white);
  width: 4rem;
  display: flex;
  flex-direction: column;
  a {
    margin: 2rem auto;
    padding: 1rem;
    font-size: var(--sm-font-size);
    color: var(--grey-dark);
    line-height: 1.6rem;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    text-decoration: none;
    list-style: none;
    transition: transform 0.3s;
    &:hover {
      color: var(--primary-color);
      transform: translateY(-0.3rem);
    }
  }
  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 9rem;
    margin: 0px auto;
    background-color: var(--grey-dark);
  }
}
.social-icons,
.email {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
